Repository AcylSilane/hydridic_blender, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, deployment, test, source

Add testing action
  .github/workflows/python-app.yml
Labels: none

Update and rename python-app.yml to python-testing.yml
  .github/workflows/python-testing.yml
Labels: none

Update requirements-dev.txt file
  requirements-dev.txt
Labels: repo

Add test status badge
  README.md
Labels: repo

Change requirements-dev.txt to requirements.txt
  .github/workflows/python-testing.yml
  install_dev_packages.py
  requirements.txt
Labels: repo, deployment

Create dependabot.yml
  dependabot.yml
Labels: repo

Split out dev and master tests, add a badge for each
  .github/workflows/test_lint_dev.yml
  .github/workflows/test_lint_master.yml
  README.md
Labels: repo

Change test python version to the one that comes with Blender 2.93
  .github/workflows/test_lint_dev.yml
  .github/workflows/test_lint_master.yml
Labels: none

Create a coveragerc for coverage
  .coveragerc
Labels: repo

.github/labeler.yml:

# Changes to the repo structure
repo:
  - '*'

deployment:
  - scripts/**/*
  - manifest.txt
  - install_dev_packages.py
  - .github
  - .gitignore

test:
  - test/**/*

source:
  - __init__.py
  - operators.py
  - utils/**/*
