Repository AcylSilane/hydridic_blender, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, deployment, test, source

.github/labeler.yml:

# Changes to the repo structure
repo:
  - '*'

deployment:
  - scripts/**/*
  - manifest.txt
  - .github
  - .gitignore

test:
  - test/**/*

source:
  - __init__.py
  - operators.py
  - utils/**/*

Omit init and operators from coverage tests for now, until we figure out how to best test things that interact with blender
  .coveragerc
Labels: repo

Add tests for adjacency matrix and bondbag length
  test/fixtures.py
  test/test_bond.py
  utils/bond.py
Labels: test, source

Refactor mock chemical and bondbag into fixtures
  test/test_bond.py
Labels: test

Add test to make sure bond styles are set
  test/test_bond.py
  utils/bond.py
Labels: test, source

Improve test coverage for bond methods
  test/fixtures.py
  test/test_bond.py
Labels: test

Autoformat files
  __init__.py
  operators.py
  test/config.py
  test/fixtures.py
  test/test_bond.py
  utils/Chemical.py
  utils/bond_styles.py
  utils/material_factory.py
Labels: repo, test, source

Fix casing in chemical class filename
  utils/chemical.py
Labels: source

Adjust formatting on readme
  README.md
Labels: repo

Add some version pinning to requirements.txt
  requirements.txt
Labels: repo

Fix import bug in operators.py
  operators.py
Labels: repo, source

Draw bonds in the system
  utils/bond.py
  utils/bond_styles.py
  utils/chemical.py
Labels: source
